.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel__wrapper {
  width: 100%;
  height: 100%;
  font-size: 0;
}

.carousel__list {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
}

.carousel__item {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  white-space: normal;
}

.carousel__control {
  display: block;
  position: absolute;
}
